
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.dll
*.png
*.txt
*.mp3
Translate4.vcxproj.filters
Translate4.opensdf
Translate4.psess
Translate4.sdf
Translate4.sln
Translate4.vcxproj
ipch/translate4-1fd59087/translate4-b5014f4e.ipch
Form2_2.ui
Form2.ui
Form_last.ui
